/*ALL*/
body{
  background-image: linear-gradient(yellow, green);
}

/*HOME*/
.side {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #1E7B16;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    box-shadow: 10px 10px 5px #154111;
  }

  .top{
    position:sticky;
    top: 0;
    width: 75%;
    height:20%;
    background-color: #1E7B16;
    float:right;
    list-style-type: none;
    margin-right:5%;
    box-shadow: 10px 10px 5px #154111;

  }
  

  .top-left{
    float:left;
    list-style-type: none;

  }

  .top-right{
    float:right;
    list-style-type: none;

  }


  .container {
    margin: 20;
    padding-bottom: 51%;
    width: 78%;
    float: right;
    background-color: #1E7B16;
    height:100%;
    clear: both;
    margin-right:5%;
    box-shadow: 10px 10px 5px #154111;

    
    
  }

  .welcome {
    height:100%;
    clear: both;
    width: 39%;
    padding:15px;
    margin-top: 20px;
    margin:auto;
    float:left;

  }

  .entries{
    margin-top:20%;
    padding:10%;
    background-color:#a9da14;
    border-radius:40%;
    border-style:dotted;
    border-color:yellow;
    border-width:thick;
    box-shadow:10px 10px 5px black;
  }

  .logo{
    height:30%;
    width:30%;
    transform:translate(-25px,0);
    float:left;
    list-style-type: none;
  }

  .profile{
    height:9%;
    width:9%;
    float:right;
    list-style-type: none;
    transform:translate(-20px,33px);

  }

  .jot-button{
    transform:translate(-50px,35px);
    text-align: center;
    padding:1%;
    float:right;
    list-style-type: none;
    height:15%;
    width:15%;
    background-color:yellow;
    border-radius:40%;
    border-style:dotted;
    border-color:#a9da14;
    border-width:thick;
    box-shadow:10px 10px 5px black;
  }

  .side-bar-images{
    height:100%;
    width:100%;
    float:left;
    margin-top:20%;
    
    
  }

  .side-bar-text{
    text-align:center;
  }

  /*LOGIN + REGISTRATION*/
  .logo-2{
    height:35%;
    width:35%;
    display:block;
    margin-right:auto;
    margin-left: auto;
  }

  .heading{
    text-align: center;
  }

  .form{
    text-align: center;
    list-style: none;
    margin-bottom: 65%;
  }

